.curiosidades-titulo {
  margin-top: 100px;
  font-family: "Fredoka One";
  text-transform: uppercase;
  font-size: 96px;
  color: #8d0000;
}
.curiosidades {
  padding: 80px 0px;
}

.curiosidades-conteudo {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 30px;
}

.curiosidades-conteudo dd {
  margin-top: 16px;
  font-family: "Poppins";
  font-size: 14px;
  max-width: 75ch;
}

.curiosidades-conteudo dt {
  font-family: "Poppins";
}

@media (max-width: 800px) {
  .curiosidades-titulo {
    font-size: 48px;
  }
}
